
.about{
    display: flex;
    padding: 50px;
}
.about img{
    height: 600px;
    padding: 20px;
}
h2{
    font-size: 50px;
    padding: 0;
    margin: 0;
}
.about p{
    color:#999;
    margin: 0 0 30px 0;
}
.about p span{
    color: #748182;
    font-size: 20px;
    font-weight: 900;
}

.about-content{
    padding-top: 30px;
    width: 700px;
}

.progress{
    width: 800px;
    margin-top: 80px;
    padding-top: 80px;
}
.progress span{
color: white;
}
progress{
    height: 30px;
    width: 100%;
    border-radius: 8px;
    margin: 0 40px 30px 0 ;
    color: white;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 8px;
    color: white;
}

progress::-webkit-progress-value {
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
}

.btn{
    text-decoration: none;
    border: 1px solid #748182;
    border-radius: 5px;
    width: 170px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    cursor: pointer;
}
.btn1{
    background-color: black; 
}

.btn1 a{
    color: white;
    text-decoration: none;
}
.btn1:hover{
    background-color: white; 
}
.btn1:hover a{
    color: black;
    text-decoration: none;
}
.btn2:hover{
    background-color: black; 
}

.btn2:hover a{
    color: white;
    text-decoration: none;
}

.btn2 a{
    color: black;
    text-decoration: none;
}
.btns{
    display: flex;
    margin-top: 30px;
}
