.contacting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 80px;
    margin-right: 200px;
    font-size: 20px;
}
.contacting i{
    padding: 15px;
    background-color: #d3d3d3;
    color: black;
    border-radius: 60px;
}
.sendMsg {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.sendMsg input,.msg{
    background-color: #d3d3d3;
    border: none;
    color: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.name{
    width: 500px;
    height: 40px;
}
.msg{
    height: 130px;
}

.sendMsg button{
    text-decoration: none;
    border: 1px solid #748182;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
}
.sendMsg button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

#Contact{
    background-color: white;
    margin-bottom: 100px;
}


.footer{
    background-color: #1c1c1c;
    color: #748182;
    padding-top: 20px;
    text-align: center;
    height: 100px;
    width: 100%;
}