*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav span{
color: rgb(255, 255, 255);
font-size: 20px;
}
nav span:hover{
color: rgb(89, 89, 89);
font-size: 20px;
transition: all 0.5s ease;
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.246);
    padding: 20px 100px;
}

nav div{
    display: flex;
    gap: 40px;
}
nav div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.5s ease;
}
nav div a:hover{
    color: rgb(89, 89, 89);
    text-decoration: none;
}

/* ====================== Hero ==================== */

.hero{
    z-index: -2;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    /* position: absolute; */
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg);
}
.hero h2{
    font-size: 60px;
    color: white;
    padding: 0;
    margin: 0;

}
.hero p{
    font-size: 60px;
    padding: 0;
    margin: 0;
    height: fit-content;
    color: white;
    font-weight: 100;
}
.hero img{
    width: 25px;
    height: 25px;
    background: transparent;
    margin: 50px 20px 20px 0;
}
.typing{
    display: inline;
    color:white;
    width: fit-content;
    font-size: 50px;
}

.name{
    display: inline;
}
.name span{
    color:white;
    font-size: 50px;
}
